openai
streamlit
beautifulsoup4
requests
llama-index
langchain
langchain-groq
python-dotenv
ipykernel
langchain-community
langchain-openai
cohere>=5.0.0
langchain-cohere
faiss-cpu
pyyaml
setuptools>=68.0.0
wheel
Cython
